

.user-pic-container{
    width:10%;
}

.user-pic{
    height: 3rem;
    width: 3rem;
    margin-top: 20%;
    border-radius: 70%;
}

.comment-box{
    background-color: lightgray;
    border-radius: 20%; 
    border: 1px solid black;
    padding: 5% 0;
}

.flex-container{
    position: relative;
}

.flex-container a{
    text-decoration: none;
    font-weight: bold;
    color:black;
    height: 25px;
}

.post-date{
    position: absolute;
    right: 5px;
    top:0;
}

.post-content{
    margin-left: 5%;
    padding-top: 3%;
}

.post-like{
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}