html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  min-height: calc(100vh - 80px);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.content {
  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

  .left-header{
    margin: 0 5%;
  }


.comment-section{
  height: 200px;
  overflow-y: auto;
  padding: 5% 10% 0 10%;
}

.comment-section::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.comment-section::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
.left-header {
  margin: 0 5%;
}
